.Header {
  display: flex;
  color: #fff;
  background-color: var(--yellow);
  border-bottom: 3px solid var(--yellow-dark);
}

.HeaderLeft h2 {
  font-size: 18px;
  margin: 0;
  padding: 15px 0 15px 36%;
  text-align: left;
}

.HeaderLogo {
  height: 35px;
  float: left;
  padding: 5px 0 0 31%;
}

.HeaderLeft {
  flex: 1;
}

.HeaderRight {
  display: flex;
  align-items: center;
  width: 251px;
  margin-right: 10%;
}

.TextLink {
  margin-right: 3%;
}

.NavButton {
  background-color: transparent;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 7px;
  transition: all .5s ease;
}

.NavButton:hover {
  background-color: var(--yellow-dark);
  border: 1.5px solid #fff;
  border-radius: 3px;
}
