.LoginBanner {
    background-color: var(--yellow);
    color: #fff;
    display: flex;
    height: 180px;
    padding-top: 60px;
  }
  
  .LoginBannerLeft {
    width: 46%;
    margin-top: 15px;
  }
  
  .LoginBannerRight {
    width: 60%;
    margin-top: 25px;
  }
  
  .LoginBannerRight h1, h3 {
    margin: 0;
    text-shadow: 3px 3px 1px var(--yellow-dark);
  }
  
  .LoginBannerLogo {
    height: 90px;
    float: right;
    padding-right: 10%;
  }
  
  .LoginContainer {
    position: absolute;
    width: 100%;
    top: 240px;
  }
  
  .LoginForm {
    background-color: #fff;
    width: 400px;
    height: 60px;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 8px;
    border-bottom: 12px solid var(--purple);
  }
  
  .TextInput {
    display: block;
    width: 80%;
    height: 34px;
    border-radius: 20px;
    border: 2px solid var(--grey);
    background-color: #f4f4f4;
    margin: 0 auto;
    padding-left: 20px;
  }
  
  .SubmitButton {
    background-color: var(--purple);
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: none;
    position: relative;
    top: -35px;
    left: 337px;
    text-indent: -9999px;
  }
  
  .SubmitIcon {
    position: relative;
    top: -65px;
    left: 337px;
    pointer-events: none;
  }
  
  .FormError {
    font-size: 12px;
    color: red;
    position: relative;
    top: -47px;
    padding-left: 20px;
  }