.ProfileHeaderContainer {
  height: 140px;
  width: 100%;
  padding-left: 24%;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  font-size: x-large;
  color: #fff;
}

.Title {
  width: 100%;
  padding-left: 24%;
  margin: 13px auto;
  font-weight: bold;
  text-shadow: none;
}

.ProfileTranslationHistory {
  height: 240px;
  width: 54%;
  margin: 0 auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0px 2px 12px #a1a1a1;
}

.ProfileTranslationHistoryList {
  padding: 15px 0 0 10px;
  list-style-type: none;
}

.ClearButton {
  background-color: transparent;
  outline: none;
  color: var(--light-grey);
  border: none;
  border-radius: 10px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 7px;
  transition: all .5s ease;
  border: 1.5px solid var(--light-grey);
}

.ClearButton:hover {
  background-color: var(--light-grey);
  color: var(--purple);
  border-radius: 3px;
}

.ClearButtonStyle {
  margin: 0 auto;
  width: 54%;
  height: 42px;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: var(--purple);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 12px #a1a1a1;
}