.TranslationContainer {
  width: 100%;
  height: 140px;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
}

.TranslationForm {
  width: 100%;
}
  
.TranslationInput {
  width: 50%;
  height: 55px;
  border-radius: 33px;
  border: 2px solid #fff;
  background-color: #f4f4f4;
  padding-left: 20px;
}
  
.TranslationButton {
  background-color: var(--purple);
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  position: relative;
  right: 50px;
  text-indent: -9999px;
}
  
.TranslationButtonIcon {
  position: relative;
  right: 85px;
  top: 10px;
  pointer-events: none;
}

.ResultContainer {
  height: 240px;
  width: 58%;
  margin: 50px auto 0;
  border-radius: 12px;
  border-bottom: 42px solid var(--purple);
  box-shadow: 0px 2px 12px #a1a1a1;
}

.ResultInput {
  padding: 10px 0 0 16px;
}
  
.TranslationSign {
  width: 50px;
  height: 50px;
}