:root {
  --yellow: #FFC75F;
  --yellow-dark: #E7B355;
  --purple: #845EC2;
  --light-grey: #EFEFEF; /* inputs */
  --grey: #969696; /* text */
}

body {
  margin: 0;
  font-family: 'Sanchez', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: normal;
}